Repository sailuh/kaiaulu, pull requests merged in 2023-04, with the labels that each got.

#176 dv8 functions Nicholas
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/dv8.R
  _pkgdown.yml
  man/dv8_dsmb_to_dsmj.Rd
  man/dv8_gitlog_to_gitnumstat.Rd
  man/dv8_gitnumstat_to_hdsmb.Rd
  man/dv8_hsdsmb_drhier_to_excel.Rd
  man/dv8_hsdsmb_to_decoupling_level.Rd
  man/dv8_hsdsmb_to_hierclsxb.Rd
  man/parse_dv8_metrics_decoupling_level.Rd
Labels: type:enhancement, module:dv8

#174 dv8 functions malia
  NAMESPACE
  R/dv8.R
  man/dv8_clsxj_to_clsxb.Rd
  man/dv8_dsmj_to_dsmb.Rd
  man/dv8_hdsmb_sdsmb_to_hsdsmb.Rd
  man/dv8_hsdsmb_to_flaws.Rd
  man/parse_dv8_architectural_flaws.Rd
Labels: type:enhancement, module:dv8

#171 dv8 functions leilani
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/download.R
  R/dv8.R
  R/graph.R
  R/network.R
  R/parser.R
  _pkgdown.yml
  man/dependencies_to_sdsmj.Rd
  man/dv8_clsxb_to_clsxj.Rd
  man/gitlog_to_hdsmj.Rd
  man/graph_to_dsmj.Rd
  man/parse_commit_message_id.Rd
  man/parse_dependencies.Rd
  man/parse_dv8_clusters.Rd
  man/parse_gitlog.Rd
  man/parse_jira.Rd
  man/parse_mbox.Rd
  man/parse_nvdfeed.Rd
  man/transform_commit_message_id_to_network.Rd
  man/transform_cve_cwe_file_to_network.Rd
  man/transform_dependencies_to_network.Rd
  man/transform_dependencies_to_sdsmj.Rd
  man/transform_gitlog_to_bipartite_network.Rd
  man/transform_gitlog_to_entity_bipartite_network.Rd
  man/transform_gitlog_to_entity_temporal_network.Rd
  man/transform_gitlog_to_hdsmj.Rd
  man/transform_gitlog_to_temporal_network.Rd
  man/transform_reply_to_bipartite_network.Rd
Labels: type:enhancement, module:dv8

#155 bugzilla wrapper functions using perceval
  DESCRIPTION
  NAMESPACE
  R/download.R
  R/parser.R
  _pkgdown.yml
  man/download_bugzilla_perceval_rest_issue_comments.Rd
  man/download_bugzilla_perceval_traditional_issue_comments.Rd
  man/parse_bugzilla_perceval_rest_issue_comments.Rd
  man/parse_bugzilla_perceval_traditional_issue_comments.Rd
  man/parse_commit_message_id.Rd
  man/parse_dependencies.Rd
  man/parse_dv8_clusters.Rd
  man/parse_gitlog.Rd
  man/parse_jira.Rd
  man/parse_mbox.Rd
  man/parse_nvdfeed.Rd
Labels: type:enhancement, module:parser, module:download

#177 Kaiaulu's bugzilla Crawler Downloader
  NAMESPACE
  R/download.R
  _pkgdown.yml
  man/download_bugzilla_rest_comments.Rd
  man/download_bugzilla_rest_issues.Rd
  vignettes/depends_showcase.Rmd
Labels: type:enhancement, module:download
