Repository sailuh/kaiaulu, pull requests merged in 2023-05, with the labels that each got.

#164 Bugzilla Wrapper Notebook
  NEWS.md
  _pkgdown.yml
  vignettes/bugzilla_showcase.Rmd
Labels: type:documentation, module:parser, module:download

#162 unit testing parser module
  NEWS.md
  tests/testthat/test-parser.R
Labels: type:tests, module:parser

#163 unit testing parser and git modules
  NEWS.md
  tests/testthat/test-git.R
  tests/testthat/test-parser.R
Labels: type:tests, module:parser

#167 Adding unit tests to interval module
  NEWS.md
  tests/testthat/test-interval.R
Labels: type:tests, module:interval

#207 i #206 Adds Text Module
  NAMESPACE
  NEWS.md
  R/parser.R
  R/text.R
  _pkgdown.yml
  conf/junit5.yml
  man/annotate_src_text.Rd
  man/parse_gof_patterns.Rd
  man/query_src_text.Rd
  man/query_src_text_class_names.Rd
  tools.yml
  vignettes/gof_showcase.Rmd
Labels: type:enhancement
